
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.ck-editor__editable {
    min-height: 350px !important;
    max-height: 350px !important;
}

.card-row{
    display: flex;
    width:100%;
flex-wrap: wrap;
   padding:10px;
}
.project-description-header{
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 1px black;
    font-size: 2em;
  
    margin: 3px;;
    text-align: center;
    font-weight: bolder;
  }
  .project-description-article{
  
    color: white;
    text-shadow: 0px 0px 1px black;
    font-size: 1em;
  
    margin: 3px;;
    text-align: center;
    font-weight: bolder;
  }
.donate-btn{
    font-size: 1em;
    
     display: flex; 
     text-decoration: none !important;
     justify-content: center;
     background-color: rgba(250, 119, 11);
    padding: 0.5em;
    width:100px;
    margin:10px;
   color:white;
   border-radius: 10px;
     text-align: center;
     text-transform: uppercase;
   
    
   
   }
   
   
   .donate-btn-orange{
    
     background: rgba(250, 119, 11, 1);
   }
   
   .donate-btn:hover{
   transform: scale(1.1,1.1);
   -webkit-transform:scale(1.1,1.1); 
   -moz-transform:scale(1.1,1.1); 
   -o-transform:scale(1.1,1.1);
   transition: all 0.1s; 
   background: #ccc;
   color: rgba(250, 119, 11, 0.75);
   }
.progress-cont{
    width:100%;
    height:10px;
    background: white ;
    border-radius: 2px;
    display: block;
    position: relative;
  }
  .progress-flo{
    width:50%;
    height:100%;
    background: rgba(250, 119, 11, 0.75) ;
    border-radius: 2px;
    display: block;
    position: relative;
  }
  .raised-amount{
    display:block;
    margin: 0;
    width:100%;
    height: fit-content;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .raised{
    display: flex;
    color: #ccc;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    flex-shrink: 1;
  }
  .raised > p{
  flex: 0 1 100%;
  text-align: center;
  }

.home-card{
    width:100%;
    flex-direction: column;
    height:300px;
    border-radius: 10px;
    background-color: #a40606;
    padding: 10px;
    display: flex;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
box-shadow: 0px 0px 1px 0.3px rgba(123,123,123,0.3);


}
body,html{
   font-family: 'Alata', sans-serif;
   font-size: 16px;
}

:root{
  --sidecoloradmn: rgb(15, 1, 48);
}
.page-holder{
    width:100%;
   display: flex;
}
.sider-holder{
    list-style-type: none;
    width: 25%;
 
    min-height: 100%;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    display:flex;
    flex-direction: column;
  align-items: center;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

}
.sider-holder.blue{
    background-color:rgb(15, 1, 48)
}
.content{
    display: flex;
justify-content: flex-start;
  min-width: 75%;
   width: 75%;
   flex-direction: column;
   left:25%;
   position: relative;
   min-height: 100vh;
  
  
   background-color: #ccc;
}
.menu-holder{
    display: flex;
    width: 100%;
    margin-top: 3%;
   
    flex-direction: column;
}
.menu{
    width:100%
}
.menu-head{
    display: flex;
    color: white;
    justify-content: space-between;
   transition: all 0.3s ;
    align-items: center;
    cursor: pointer;
    padding: 2%;

    width: 100%;
}

.blue  .menu-head{
    border-right: 5px solid royalblue;
}

.blue  .menu-head:hover{
   background: royalblue;
   border-right-color: silver;
}
.sub-menu{
    background: rgba(123,123,123,0.3);
    width:100%;
    display: none;
 transition: all 0.7s;

 
}
.title{
    text-align: center;
}
.sub-menu a{
    display: flex;
    justify-content:space-between;
 align-items: center;
  padding: 1% ;
  position: relative;
  text-decoration: none !important;
  color:white;
  font-size: 0.9rem;
 
  transition:all 0.6s ;
    width: 100%;
}
.sub-menu a:hover{
    transform:translateX(2px);
    background: royalblue;
    transition: all 0.4s;

}
.sub-menu.item-show a{
    animation: sub-menu 0.7s  backwards ;
    -moz-animation:  sub-menu 0.7s  backwards ;
    -webkit-animation: sub-menu 0.7s  backwards ;
    -o-animation:  sub-menu 0.7s  backwards ;
}
.sub-menu.item-show {
    display: flex;
    flex-direction: column;
    transition:0.7s ;
    animation: sub-menu 0.7s  backwards ;
    -moz-animation:  sub-menu 0.7s  backwards ;
    -webkit-animation: sub-menu 0.7s  backwards ;
    -o-animation:  sub-menu 0.7s  backwards ;
}
.nav-head{
    width:75%;
    height:60px;
    display: flex;
    background-color: whitesmoke;
    z-index:1000;
    position:fixed;
    justify-content: space-between;
  

}
.menu-slider{
    display:none;
   cursor: pointer;
}
.profile-holder{
    display:flex;
    
    color:black;
     width:100%;
  
    justify-content: flex-end;
    align-items: center;
  position: relative;
    font-weight: bold;
}
.profile-pix{
    height:50px;
    width:50px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background: url('../images/default.png') no-repeat;
    background-size: contain;
}
.logout{
    text-decoration: none !important;
    color: orange
}
.logout:hover{
    text-decoration: none !important;
    color: white
}
.page-head{
 
    display: flex;
    width: 75%;
    position: fixed;
    height: 30px;
    background: rgb(15, 1, 48);
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0, 0.3);
    padding: 29px;
}
.main-content{
     margin-top:60px;
     display:flex;
     flex-direction:column;
     width:100%;
     min-height: calc(100% - 60px)
}

.scroll-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:50px;
    width: 100%;

}

.project-cont{
	display:flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;

	width:100%
}
.p-image  img{
    background-image: url('../images/file-upload.png');
    background-position: center center;
    background-size: 10%;
    background-repeat: no-repeat;
}
.create-cont-inner{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top:60px;
}
.p-form,.p-image{
    width:48%;
    margin:1%;
}
@keyframes sub-menu{
    from {
        opacity: 0;
    }
    to{
          opacity: 1;
    }
}
.modal-overlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
   
    transition: all 0.9s;
    overflow:auto;
    z-index:100000000000000000000;
    display:none;


    background-color: rgba(0,0,0, 0.3);
}

.modal-container{
    background-color: white;
    position: relative;
    display:flex;
    margin: 1rem;
    align-self: center;
    box-shadow: 0px 0px 2px 2px rgba(123,123,123,0.3);
    width: 70%;
    height:70%;
    animation: modal 0.4s backwards;
    overflow: auto;
    border-radius: 1em;
    transition: all 0.9s ease-in;
   
    z-index:100000000000000000000000000000000;
  
}
.modal-container.open-dialog{
    transition: all 0.9s ease-in;
   
}
.modal-overlay.open-dialog{
display: flex !important;
}
.modal-head{
    padding-left: 2em ;
    padding-right:1em;
    font-size: 1.5em;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.modal-close{
    cursor: pointer;
}
.modal-content{
    height:80%;
    overflow: auto;
  
}

.q{
    color: #333 !important;
    font-weight: 900;
    background-color: #eee !important;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0, 0.3);
}

.breadcrumb{
    background: none !important;
   
}
.breadcrumb-item{
    text-decoration: none !important;
    font-weight: 900;
    color: white;

}
.breadcrumb-item+.breadcrumb-item::before{
    content:'>>' !important;
}
.profile-resize{
    position: relative;
    display:block;
    width: 100px;
    padding:4%;
     height: 100px;
}
.bg-quote{
    background-color: whitesmoke !important;
    color: #333 !important;
    border-radius: 0.1em;
    padding: 0.5em;
}
.list-btn-cont{
display:flex;
width:100%;
align-items: center;
justify-content: space-between;
flex:1;
margin-top:2%;
flex-wrap: wrap;
}
.list-btn-item{
display:flex;

justify-content: center;
align-self: center;
width:200px;
}
@keyframes modal{
    from{
    transform: scale(0.1,0.1);
    -moz-transform: scale(0.1,0.1);
    -o-transform: scale(0.1,0.1);
    -webkit-transform: scale(0.1,0.1);
    }
    to{
        transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        -webkit-transform: scale(1,1);
    }
}
@media screen and (max-width: 787px){
    .p-form,.p-image{
        width:100% !important;
        margin:1%;
    }
    .sider-holder{
        left:-25% !important;
    }
    .sider-holder.open{
        left:0 !important;
        z-index:10000000000;
        width:300px;
        transition: 0.5s ease-in-out;
    }
    .open:hover .sider-holder{
         left:0 !important;
    }
    .content,.nav-head,.page-head,.main-container,.chat-header,.file-drawer{
        left:0% !important;
        width:100% !important;
    }
    .menu-slider{
        display:block;
        font-size: 1.1em;
    }
    .modal-container{
        width:100% !important;
        margin: 1% !important;
    }

    .profile-resize{
          padding:1%;
         height: 10% !important;
         width:100%;
    }
}

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}